:root {
  --activated-text-color: #2196f3;
  --general-text-color: #757575;
  --title-text-color: #212121;
  --hero-text-color: #ffffff;
  --contact-text-color: rgba(255, 255, 255, 0.6);
  --header-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --button-bg-color: #2196f3;
}
/* Общий CSS - начало */
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--general-text-color);
  background-color: var(--primary-bg-color);
}
/* общие свойства списков */
.list {
  list-style: none;
}
/* ощие свойства для ссылок */
.link {
  text-decoration: none;
}
/* общие свойства логотипа */
.g-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.g-logo:hover,
.g-logo:focus {
  text-decoration: underline;
}

/* -------header CSS */
.head {
  background-color: var(--header-bg-color);
}

/* логотип в header*/
.h-logo {
  color: var(--title-text-color);
}
.logo-begin {
  color: var(--activated-text-color);
}

/* общие свойства списков в шапке */
.head .list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* навигация по сайту */
.nav-list .link {
  color: var(--title-text-color);
}

.link.active {
  color: var(--activated-text-color);
}

.link.active:hover,
.link.active:focus {
  text-decoration: underline;
}
/* контакты в шапке */
.h-contact-list .link {
  color: var(--general-text-color);
}

/* общие свойства актив-ссылок в шапке*/
.nav-list .link:hover,
.nav-list .link:focus,
.h-contact-list .link:hover,
.h-contact-list .link:focus {
  color: var(--activated-text-color);
}
/* -------footer CSS */
.foot {
  background-color: var(--footer-bg-color);
}
/* логотип в footer */
.f-logo {
  color: var(--hero-text-color);
}
/* контакты в footer */
.f-contact-list .link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--contact-text-color);
}

.f-contact-list .contact-address {
  color: var(--hero-text-color);
}

/* общие свойства актив-ссылок в футере*/
.f-contact-list .link:hover,
.f-contact-list .link:focus,
.f-contact-list .contact-address:hover,
.f-contact-list .contact-address:focus {
  color: var(--activated-text-color);
}
/* Общий CSS - конец */
/* ----------------------- */
/* index.html CSS - начало */

/* общие свойства заголовков h2, h3 */
.title {
  font-weight: 700;
  color: var(--title-text-color);
}

h2.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* секция герой */
.hero {
  background-color: var(--footer-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
/* кнопка */
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--button-bg-color);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}
/* секция преимущества и секция галерея*/
.advantage,
.gallery {
  background-color: var(--header-bg-color);
}

/* свойства текста в секции преимуществ */
.advantage h3.title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage .text {
  font-size: 14px;
  line-height: 1.71;
}

/* секция наша команда */
.our-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: var(--secondary-bg-color);
}

.our-team h3.title {
  font-weight: 500;
}

/* index.html CSS - конец */
/* ----------------------- */
/* portfolio.html CSS - начало */
.hero-prtfl {
  background-color: var(--header-bg-color);
}
/* кнопки фильтра */
.btn-prtfl {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
}

.btn-prtfl:hover,
.btn-prtfl:focus {
  color: var(--hero-text-color);
  background-color: var(--button-bg-color);
}

/* заголовок портфолио (h2) */
.hero-prtfl .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

/* текст портфолио */
.hero-prtfl .text {
  font-size: 16px;
  line-height: 1.88;
}
/* portfolio.html CSS - конец */
